/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************/
@font-face {
    font-family: 'Bruno Ace SC';
    font-style: normal;
    font-weight: 400;
    src: local('Bruno Ace SC'), url('https://fonts.cdnfonts.com/s/15751/BrunoAceSC-Regular.woff') format('woff');
}

body {
	font-family: 'Bruno Ace SC', sans-serif;
	color: #E3E3E3;
}

.container {
	/*background: #333;*/  /* 除錯用 */
	/*margin: 0 auto;*/
}


.nav {
	margin: 0 auto;
	background: #000;
	padding-bottom: 72px;
}

.nav .container {

}

.nav .container ul {
	/*background: #af1923;*/   /* 除錯用 */
	width: 1512px;
	
	padding-top: 40px;
	padding-bottom: 24px;
	padding-left: 312px;

	/* FLEX 語法基本架構 */
	/* 啟用 flex 屬性*/
	display: flex;
	
	/* 決定 flex 主要軸線方向 row (default) |column|row-reverse|column-reverse */
	flex-direction: row;

	/* 決定主要軸線方向  flex-start (default) |center|flex-end|space-around|space-between|space-evenly */
	justify-content: space-between;
	
	/* 決定交錯軸線方向  flex-start|center|flex-end|stretch (default) | baseline  (當 flex-wrap 屬性設為 wrap 或 wrap-reverse 時，此 align-items 屬性無效) */
	/*align-items: stretch;*/
	
	/* 決定換行屬性 no-wrap (default) |wrap|wrap-reverse */
	/*flex-wrap: nowrap;*/
	
	/* flex-start|center|flex-end|space-between|space-around|stretch(default)   (此屬性需 flex-wrap 屬性設為 wrap 或 wrap-reverse 才有效用，可控制換行後的對齊方式，此時 align-items 的屬性無效) */
	/*align-content: stretch;*/
}

.nav li {
	width: 306px;
	/*background: #666;*/
}

.nav li a{
	/*display: block;*/
	color: #D1D1D1;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 24px */
	text-decoration: none;	
} 

.nav li a:hover{
	color:#af1923;
} 

.myphoto {
	margin: 0 auto;
	background: #000;

}

.myphoto .container {
	/* FLEX 語法基本架構 */
	display: flex;                /* 啟用 flex 屬性*/
	flex-direction: row;          /* 決定 flex 主要軸線方向 row (default) |column|row-reverse|column-reverse */
	justify-content: center;      /* 決定主要軸線方向  flex-start (default) |center|flex-end|space-around|space-between|space-evenly */
	align-items: stretch;         /* 決定交錯軸線方向  flex-start|center|flex-end|stretch (default) | baseline  (當 flex-wrap 屬性設為 wrap 或 wrap-reverse 時，此 align-items 屬性無效) */
	flex-wrap: nowrap;            /* 決定換行屬性 no-wrap (default) |wrap|wrap-reverse */
	align-content :stretch;       /* flex-start|center|flex-end|space-between|space-around|stretch(default)   (此屬性需 flex-wrap 屬性設為 wrap 或 wrap-reverse 才有效用，可控制換行後的對齊方式，此時 align-items 的屬性無效) */
	padding-bottom: 72px;
}

.myphoto-desc {
	width: 636px;
}

.myphoto .myphoto-desc .style01 {
	color:#FFF;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 96px */
}

.myphoto .myphoto-desc .style02 {
	color: #00FFA3;
	text-align: right;
	font-family: Bruno Ace SC;
	font-size: 128px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 192px */
}

.contactme-button {
	display: flex;
	padding: 12px 24px;
	align-items: flex-start;
	gap: 4px;
	border-radius: 32px;
	background: #FFF;
	width: 138px;
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 24px */
	text-decoration: none;
}

.introduction {
	background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
}

.introduction .container {
	margin: 0 auto;
	width: 1296px;

	margin-bottom: 160px;
	/* FLEX 語法基本架構 */
	display: flex;                /* 啟用 flex 屬性*/
	flex-direction: row;          /* 決定 flex 主要軸線方向 row (default) |column|row-reverse|column-reverse */
	justify-content: flex-start;  /* 決定主要軸線方向  flex-start (default) |center|flex-end|space-around|space-between|space-evenly */
	align-items: stretch;         /* 決定交錯軸線方向  flex-start|center|flex-end|stretch (default) | baseline  (當 flex-wrap 屬性設為 wrap 或 wrap-reverse 時，此 align-items 屬性無效) */
	flex-wrap: nowrap;            /* 決定換行屬性 no-wrap (default) |wrap|wrap-reverse */
	align-content :stretch;       /* flex-start|center|flex-end|space-between|space-around|stretch(default)   (此屬性需 flex-wrap 屬性設為 wrap 或 wrap-reverse 才有效用，可控制換行後的對齊方式，此時 align-items 的屬性無效) */
}

.introduction-desc { 
	width: 526px;
}

.introduction-desc .style01 {
	color: #FFF;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 96px */
	margin-bottom: 36px;
}

.introduction-desc .style02 {
	color: #FFF;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 36px */
	margin-bottom: 32px;
}

.introduction-photo {
	width: 800px;
	  /* FLEX 語法基本架構 */
	  
	  display: flex;                /* 啟用 flex 屬性*/
	  flex-direction: row;          /* 決定 flex 主要軸線方向 row (default) |column|row-reverse|column-reverse */
	  justify-content: space-between;  /* 決定主要軸線方向  flex-start (default) |center|flex-end|space-around|space-between|space-evenly */
	  align-items: stretch;         /* 決定交錯軸線方向  flex-start|center|flex-end|stretch (default) | baseline  (當 flex-wrap 屬性設為 wrap 或 wrap-reverse 時，此 align-items 屬性無效) */
	  flex-wrap: nowrap;            /* 決定換行屬性 no-wrap (default) |wrap|wrap-reverse */
	  align-content :stretch;       /* flex-start|center|flex-end|space-between|space-around|stretch(default)   (此屬性需 flex-wrap 屬性設為 wrap 或 wrap-reverse 才有效用，可控制換行後的對齊方式，此時 align-items 的屬性無效) */
}

.aboutme {
	margin: 0 auto;
	width: 1296px;
	background: #fff;

	/* FLEX 語法基本架構 */
	display: flex;                /* 啟用 flex 屬性*/
	flex-direction: row;          /* 決定 flex 主要軸線方向 row (default) |column|row-reverse|column-reverse */
	justify-content: space-between;  /* 決定主要軸線方向  flex-start (default) |center|flex-end|space-around|space-between|space-evenly */
	align-items: stretch;         /* 決定交錯軸線方向  flex-start|center|flex-end|stretch (default) | baseline  (當 flex-wrap 屬性設為 wrap 或 wrap-reverse 時，此 align-items 屬性無效) */
	flex-wrap: nowrap;            /* 決定換行屬性 no-wrap (default) |wrap|wrap-reverse */
	align-content :stretch;       /* flex-start|center|flex-end|space-between|space-around|stretch(default)   (此屬性需 flex-wrap 屬性設為 wrap 或 wrap-reverse 才有效用，可控制換行後的對齊方式，此時 align-items 的屬性無效) */  
	margin-bottom: 160px;
}

.card-list {
	width: 636px;

	/* FLEX 語法基本架構 */
	display: flex;                /* 啟用 flex 屬性*/
	flex-direction: row;          /* 決定 flex 主要軸線方向 row (default) |column|row-reverse|column-reverse */
	justify-content: space-between;  /* 決定主要軸線方向  flex-start (default) |center|flex-end|space-around|space-between|space-evenly */
	align-items: center;         /* 決定交錯軸線方向  flex-start|center|flex-end|stretch (default) | baseline  (當 flex-wrap 屬性設為 wrap 或 wrap-reverse 時，此 align-items 屬性無效) */
	flex-wrap: wrap;            /* 決定換行屬性 no-wrap (default) |wrap|wrap-reverse */
	align-content :stretch;       /* flex-start|center|flex-end|space-between|space-around|stretch(default)   (此屬性需 flex-wrap 屬性設為 wrap 或 wrap-reverse 才有效用，可控制換行後的對齊方式，此時 align-items 的屬性無效) */  
}

.aboutme .card-list .card-item{
	width: 274px;
	border: 1px solid #E3E3E3;
	
	padding: 16px;
}

.aboutme .card-list .card-item:hover{
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}



.aboutme .card-list .card-item .item-no {
	color: #15161D;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 30px */
}

.aboutme .card-list .card-item .title01 {
	color: #15161D;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 30px */
}

.aboutme .card-list .card-item .title02 {
	color: #15161D;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 24px */
}

.aboutme-desc {
	width: 526px;	
}

.aboutme h3 {
	color: #000;
	font-family: Bruno Ace SC;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 96px */
	margin-bottom: 36px;
}

.aboutme p {
	color: #15161D;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 36px */
}

.contactme {
	background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}


.contactme .container {
	margin: 0 auto;
	width: 1296px;
	margin-bottom: 160px;
	
	/* FLEX 語法基本架構 */
	display: flex;                /* 啟用 flex 屬性*/
	flex-direction: row;          /* 決定 flex 主要軸線方向 row (default) |column|row-reverse|column-reverse */
	justify-content: space-between;  /* 決定主要軸線方向  flex-start (default) |center|flex-end|space-around|space-between|space-evenly */
	align-items: stretch;         /* 決定交錯軸線方向  flex-start|center|flex-end|stretch (default) | baseline  (當 flex-wrap 屬性設為 wrap 或 wrap-reverse 時，此 align-items 屬性無效) */
	flex-wrap: nowrap;            /* 決定換行屬性 no-wrap (default) |wrap|wrap-reverse */
	align-content :stretch;       /* flex-start|center|flex-end|space-between|space-around|stretch(default)   (此屬性需 flex-wrap 屬性設為 wrap 或 wrap-reverse 才有效用，可控制換行後的對齊方式，此時 align-items 的屬性無效) */
}

.contactme-title {
	width: 767px;
	
	/* FLEX 語法基本架構 */
	display: flex;                /* 啟用 flex 屬性*/
	flex-direction: row;          /* 決定 flex 主要軸線方向 row (default) |column|row-reverse|column-reverse */
	justify-content: center;  /* 決定主要軸線方向  flex-start (default) |center|flex-end|space-around|space-between|space-evenly */
	align-items: center;         /* 決定交錯軸線方向  flex-start|center|flex-end|stretch (default) | baseline  (當 flex-wrap 屬性設為 wrap 或 wrap-reverse 時，此 align-items 屬性無效) */
	flex-wrap: nowrap;            /* 決定換行屬性 no-wrap (default) |wrap|wrap-reverse */
	align-content :center;       /* flex-start|center|flex-end|space-between|space-around|stretch(default)   (此屬性需 flex-wrap 屬性設為 wrap 或 wrap-reverse 才有效用，可控制換行後的對齊方式，此時 align-items 的屬性無效) */
}

.contactme-logo {
	width: 526px;
	/* FLEX 語法基本架構 */
	display: flex;                /* 啟用 flex 屬性*/
	flex-direction: row;          /* 決定 flex 主要軸線方向 row (default) |column|row-reverse|column-reverse */
	justify-content: space-between;  /* 決定主要軸線方向  flex-start (default) |center|flex-end|space-around|space-between|space-evenly */
	align-items: center;         /* 決定交錯軸線方向  flex-start|center|flex-end|stretch (default) | baseline  (當 flex-wrap 屬性設為 wrap 或 wrap-reverse 時，此 align-items 屬性無效) */
	flex-wrap: nowrap;            /* 決定換行屬性 no-wrap (default) |wrap|wrap-reverse */
	align-content :stretch;       /* flex-start|center|flex-end|space-between|space-around|stretch(default)   (此屬性需 flex-wrap 屬性設為 wrap 或 wrap-reverse 才有效用，可控制換行後的對齊方式，此時 align-items 的屬性無效) */
}

.contactme .style01 {
	color: #FFF;
	font-family: Bruno Ace SC;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 96px */
	padding-top: 129px;
	padding-bottom: 129px;
}

.contactme .logo {
	margin-left: 16px;
}


.myprojects {
	background: #fff;
}

.myprojects .container  {
	width: 1296px;
	margin: 0 auto;
}

.myprojects .container{
	margin: 0 auto;
	width: 1296px;
	margin-bottom: 160px;
	/* FLEX 語法基本架構 */
	
}

.myprojects .container .col1 {
	text-align: center;

}

.myprojects .container .col2 {
	width: 1296px;

  /* FLEX 語法基本架構 */
  display: flex;                /* 啟用 flex 屬性*/
  flex-direction: row;          /* 決定 flex 主要軸線方向 row (default) |column|row-reverse|column-reverse */
  justify-content: space-between;  /* 決定主要軸線方向  flex-start (default) |center|flex-end|space-around|space-between|space-evenly */
  align-items: stretch;         /* 決定交錯軸線方向  flex-start|center|flex-end|stretch (default) | baseline  (當 flex-wrap 屬性設為 wrap 或 wrap-reverse 時，此 align-items 屬性無效) */
  flex-wrap: nowrap;            /* 決定換行屬性 no-wrap (default) |wrap|wrap-reverse */
  align-content :stretch;       /* flex-start|center|flex-end|space-between|space-around|stretch(default)   (此屬性需 flex-wrap 屬性設為 wrap 或 wrap-reverse 才有效用，可控制換行後的對齊方式，此時 align-items 的屬性無效) */
}

	.myprojects .container .col2-1 {
		width: 416px;

		/* FLEX 語法基本架構 */
		display: flex;                /* 啟用 flex 屬性*/
		flex-direction: row;          /* 決定 flex 主要軸線方向 row (default) |column|row-reverse|column-reverse */
		justify-content: flex-start;  /* 決定主要軸線方向  flex-start (default) |center|flex-end|space-around|space-between|space-evenly */
		align-items: center;         /* 決定交錯軸線方向  flex-start|center|flex-end|stretch (default) | baseline  (當 flex-wrap 屬性設為 wrap 或 wrap-reverse 時，此 align-items 屬性無效) */
		flex-wrap: nowrap;            /* 決定換行屬性 no-wrap (default) |wrap|wrap-reverse */
		align-content :stretch;       /* flex-start|center|flex-end|space-between|space-around|stretch(default)   (此屬性需 flex-wrap 屬性設為 wrap 或 wrap-reverse 才有效用，可控制換行後的對齊方式，此時 align-items 的屬性無效) */
	}


	.myprojects .container .col2-2 {
		width: 856px;	

		/* FLEX 語法基本架構 */
		display: flex;                /* 啟用 flex 屬性*/
		flex-direction: column;          /* 決定 flex 主要軸線方向 row (default) |column|row-reverse|column-reverse */
		justify-content: space-between;  /* 決定主要軸線方向  flex-start (default) |center|flex-end|space-around|space-between|space-evenly */
		align-items: center;         /* 決定交錯軸線方向  flex-start|center|flex-end|stretch (default) | baseline  (當 flex-wrap 屬性設為 wrap 或 wrap-reverse 時，此 align-items 屬性無效) */
		flex-wrap: nowrap;            /* 決定換行屬性 no-wrap (default) |wrap|wrap-reverse */
		align-content :stretch;       /* flex-start|center|flex-end|space-between|space-around|stretch(default)   (此屬性需 flex-wrap 屬性設為 wrap 或 wrap-reverse 才有效用，可控制換行後的對齊方式，此時 align-items 的屬性無效) */
 
	}

		.myprojects .container .col2-2-1 {
			width: 856px;

			/* FLEX 語法基本架構 */
			display: flex;                /* 啟用 flex 屬性*/
			flex-direction: row;          /* 決定 flex 主要軸線方向 row (default) |column|row-reverse|column-reverse */
			justify-content: space-between;  /* 決定主要軸線方向  flex-start (default) |center|flex-end|space-around|space-between|space-evenly */
			align-items: flex-start;         /* 決定交錯軸線方向  flex-start|center|flex-end|stretch (default) | baseline  (當 flex-wrap 屬性設為 wrap 或 wrap-reverse 時，此 align-items 屬性無效) */
			flex-wrap: nowrap;            /* 決定換行屬性 no-wrap (default) |wrap|wrap-reverse */
			align-content :stretch;       /* flex-start|center|flex-end|space-between|space-around|stretch(default)   (此屬性需 flex-wrap 屬性設為 wrap 或 wrap-reverse 才有效用，可控制換行後的對齊方式，此時 align-items 的屬性無效) */  
			
		}

		.myprojects .container .col2-2-1-1 {
			width: 196px;
			padding-right: 24px;
		}
		
		.myprojects .container .col2-2-1-2 {
			width: 612x;
			/*border: 1px solid #112233;*/
		}

	.myprojects .container .col2-2-2 {
		width: 856px;
		/* FLEX 語法基本架構 */
		display: flex;                /* 啟用 flex 屬性*/
		flex-direction: row;          /* 決定 flex 主要軸線方向 row (default) |column|row-reverse|column-reverse */
		justify-content: space-between;  /* 決定主要軸線方向  flex-start (default) |center|flex-end|space-around|space-between|space-evenly */
		align-items: flex-end;         /* 決定交錯軸線方向  flex-start|center|flex-end|stretch (default) | baseline  (當 flex-wrap 屬性設為 wrap 或 wrap-reverse 時，此 align-items 屬性無效) */
		flex-wrap: nowrap;            /* 決定換行屬性 no-wrap (default) |wrap|wrap-reverse */
		align-content :stretch;       /* flex-start|center|flex-end|space-between|space-around|stretch(default)   (此屬性需 flex-wrap 屬性設為 wrap 或 wrap-reverse 才有效用，可控制換行後的對齊方式，此時 align-items 的屬性無效) */  
	}

		.myprojects .container .col2-2-2-1 {
			width: 306px;
			
		}
		.myprojects .container .col2-2-2-2 {
			width: 526px;

			
 
		}


.myprojects .style01 {
	color: #000;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 96px */
	margin-left: 330px;
}


.myprojects .style02 {
	color: #15161D;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 24px */
	margin-bottom: 88px;
}

.seemore-button {
	display: flex;
	padding: 12px 24px;
	align-items: flex-start;
	gap: 4px;

	border-radius: 32px;
	background: #000;

	color: #FFF;

	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 24px */
	width: 138px;
	text-decoration: none;
}





.footer {
	margin: 0 auto;
	/*width: 1512px;*/
	padding-top:40px;
	padding-bottom: 40px;
	background: #000;
}

.footer p {
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 24px */
}

.pl-450 {
	padding-left: 450px;
}